server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:jwtprobdb;MODE=MYSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

app:
  jwt:
    secret: "change-this-to-a-long-random-secret-key-please-keep-it-safe-1234567890"
    expiration-ms: 900000 # 15 minutes (Refresh Token 사용)

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
  api-docs:
    path: /v3/api-docs

logging:
  level:
    org.springframework.security: DEBUG
    com.example.jwtprob: INFO
    com.example.jwtprob.api: INFO
    com.example.jwtprob.security: INFO
